.border-1-px-solid-black{
    border: 1px solid black;
}
.border-bottom-1-solid-white{
    border-bottom: 1px solid white;
}

.border-bottom-1-solid-gray{
    border-bottom: 1px solid gray;
}

.border-bottom-1-solid-lightgray{
    border-bottom: 1px solid lightgray;
}

.border-bottom-1-solid-light-black{
    border-bottom: 1px solid #1F1F2F;
}