.font-size-1-px {
    font-size: 1px;
}
.font-size-2-px {
    font-size: 2px;
}
.font-size-3-px {
    font-size: 3px;
}
.font-size-4-px {
    font-size: 4px;
}
.font-size-5-px {
    font-size: 5px;
}
.font-size-6-px {
    font-size: 6px;
}
.font-size-7-px {
    font-size: 7px;
}
.font-size-8-px {
    font-size: 8px;
}
.font-size-9-px {
    font-size: 9px;
}
.font-size-10-px {
    font-size: 10px;
}
.font-size-11-px {
    font-size: 11px;
}
.font-size-12-px {
    font-size: 12px;
}
.font-size-13-px {
    font-size: 13px;
}
.font-size-14-px {
    font-size: 14px;
}
.font-size-15-px {
    font-size: 15px;
}
.font-size-16-px {
    font-size: 16px;
}
.font-size-17-px {
    font-size: 17px;
}
.font-size-18-px {
    font-size: 18px;
}
.font-size-19-px {
    font-size: 19px;
}
.font-size-20-px {
    font-size: 20px;
}
.font-size-21-px {
    font-size: 21px;
}
.font-size-22-px {
    font-size: 22px;
}
.font-size-23-px {
    font-size: 23px;
}
.font-size-24-px {
    font-size: 24px;
}
.font-size-25-px {
    font-size: 25px;
}
.font-size-26-px {
    font-size: 26px;
}
.font-size-27-px {
    font-size: 27px;
}
.font-size-28-px {
    font-size: 28px;
}
.font-size-29-px {
    font-size: 29px;
}
.font-size-30-px {
    font-size: 30px;
}
.font-size-31-px {
    font-size: 31px;
}
.font-size-32-px {
    font-size: 32px;
}
.font-size-33-px {
    font-size: 33px;
}
.font-size-34-px {
    font-size: 34px;
}
.font-size-35-px {
    font-size: 35px;
}
.font-size-36-px {
    font-size: 36px;
}
.font-size-37-px {
    font-size: 37px;
}
.font-size-38-px {
    font-size: 38px;
}
.font-size-39-px {
    font-size: 39px;
}
.font-size-40-px {
    font-size: 40px;
}
.font-size-41-px {
    font-size: 41px;
}
.font-size-42-px {
    font-size: 42px;
}
.font-size-43-px {
    font-size: 43px;
}
.font-size-44-px {
    font-size: 44px;
}
.font-size-45-px {
    font-size: 45px;
}
.font-size-46-px {
    font-size: 46px;
}
.font-size-47-px {
    font-size: 47px;
}
.font-size-48-px {
    font-size: 48px;
}
.font-size-49-px {
    font-size: 49px;
}
.font-size-50-px {
    font-size: 50px;
}
.font-size-51-px {
    font-size: 51px;
}
.font-size-52-px {
    font-size: 52px;
}
.font-size-53-px {
    font-size: 53px;
}
.font-size-54-px {
    font-size: 54px;
}
.font-size-55-px {
    font-size: 55px;
}
.font-size-56-px {
    font-size: 56px;
}
.font-size-57-px {
    font-size: 57px;
}
.font-size-58-px {
    font-size: 58px;
}
.font-size-59-px {
    font-size: 59px;
}
.font-size-60-px {
    font-size: 60px;
}
.font-size-61-px {
    font-size: 61px;
}
.font-size-62-px {
    font-size: 62px;
}
.font-size-63-px {
    font-size: 63px;
}
.font-size-64-px {
    font-size: 64px;
}