.mg-1-1-px {
    margin: 1px 1px;
}
.mg-right-1-px {
    margin-right: 1px;
}
.mg-bottom-1-px {
    margin-bottom: 1px;
}
.mg-left-1-px {
    margin-left: 1px;
}
.mg-top-1-px {
    margin-top: 1px;
}
.mg-2-2-px {
    margin: 2px 2px;
}
.mg-right-2-px {
    margin-right: 2px;
}
.mg-bottom-2-px {
    margin-bottom: 2px;
}
.mg-left-2-px {
    margin-left: 2px;
}
.mg-top-2-px {
    margin-top: 2px;
}
.mg-3-3-px {
    margin: 3px 3px;
}
.mg-right-3-px {
    margin-right: 3px;
}
.mg-bottom-3-px {
    margin-bottom: 3px;
}
.mg-left-3-px {
    margin-left: 3px;
}
.mg-top-3-px {
    margin-top: 3px;
}
.mg-4-4-px {
    margin: 4px 4px;
}
.mg-right-4-px {
    margin-right: 4px;
}
.mg-bottom-4-px {
    margin-bottom: 4px;
}
.mg-left-4-px {
    margin-left: 4px;
}
.mg-top-4-px {
    margin-top: 4px;
}
.mg-5-5-px {
    margin: 5px 5px;
}
.mg-right-5-px {
    margin-right: 5px;
}
.mg-bottom-5-px {
    margin-bottom: 5px;
}
.mg-left-5-px {
    margin-left: 5px;
}
.mg-top-5-px {
    margin-top: 5px;
}
.mg-6-6-px {
    margin: 6px 6px;
}
.mg-right-6-px {
    margin-right: 6px;
}
.mg-bottom-6-px {
    margin-bottom: 6px;
}
.mg-left-6-px {
    margin-left: 6px;
}
.mg-top-6-px {
    margin-top: 6px;
}
.mg-7-7-px {
    margin: 7px 7px;
}
.mg-right-7-px {
    margin-right: 7px;
}
.mg-bottom-7-px {
    margin-bottom: 7px;
}
.mg-left-7-px {
    margin-left: 7px;
}
.mg-top-7-px {
    margin-top: 7px;
}
.mg-8-8-px {
    margin: 8px 8px;
}
.mg-right-8-px {
    margin-right: 8px;
}
.mg-bottom-8-px {
    margin-bottom: 8px;
}
.mg-left-8-px {
    margin-left: 8px;
}
.mg-top-8-px {
    margin-top: 8px;
}
.mg-9-9-px {
    margin: 9px 9px;
}
.mg-right-9-px {
    margin-right: 9px;
}
.mg-bottom-9-px {
    margin-bottom: 9px;
}
.mg-left-9-px {
    margin-left: 9px;
}
.mg-top-9-px {
    margin-top: 9px;
}
.mg-10-10-px {
    margin: 10px 10px;
}
.mg-right-10-px {
    margin-right: 10px;
}
.mg-bottom-10-px {
    margin-bottom: 10px;
}
.mg-left-10-px {
    margin-left: 10px;
}
.mg-top-10-px {
    margin-top: 10px;
}
.mg-11-11-px {
    margin: 11px 11px;
}
.mg-right-11-px {
    margin-right: 11px;
}
.mg-bottom-11-px {
    margin-bottom: 11px;
}
.mg-left-11-px {
    margin-left: 11px;
}
.mg-top-11-px {
    margin-top: 11px;
}
.mg-12-12-px {
    margin: 12px 12px;
}
.mg-right-12-px {
    margin-right: 12px;
}
.mg-bottom-12-px {
    margin-bottom: 12px;
}
.mg-left-12-px {
    margin-left: 12px;
}
.mg-top-12-px {
    margin-top: 12px;
}
.mg-13-13-px {
    margin: 13px 13px;
}
.mg-right-13-px {
    margin-right: 13px;
}
.mg-bottom-13-px {
    margin-bottom: 13px;
}
.mg-left-13-px {
    margin-left: 13px;
}
.mg-top-13-px {
    margin-top: 13px;
}
.mg-14-14-px {
    margin: 14px 14px;
}
.mg-right-14-px {
    margin-right: 14px;
}
.mg-bottom-14-px {
    margin-bottom: 14px;
}
.mg-left-14-px {
    margin-left: 14px;
}
.mg-top-14-px {
    margin-top: 14px;
}
.mg-15-15-px {
    margin: 15px 15px;
}
.mg-right-15-px {
    margin-right: 15px;
}
.mg-bottom-15-px {
    margin-bottom: 15px;
}
.mg-left-15-px {
    margin-left: 15px;
}
.mg-top-15-px {
    margin-top: 15px;
}
.mg-16-16-px {
    margin: 16px 16px;
}
.mg-right-16-px {
    margin-right: 16px;
}
.mg-bottom-16-px {
    margin-bottom: 16px;
}
.mg-left-16-px {
    margin-left: 16px;
}
.mg-top-16-px {
    margin-top: 16px;
}
.mg-17-17-px {
    margin: 17px 17px;
}
.mg-right-17-px {
    margin-right: 17px;
}
.mg-bottom-17-px {
    margin-bottom: 17px;
}
.mg-left-17-px {
    margin-left: 17px;
}
.mg-top-17-px {
    margin-top: 17px;
}
.mg-18-18-px {
    margin: 18px 18px;
}
.mg-right-18-px {
    margin-right: 18px;
}
.mg-bottom-18-px {
    margin-bottom: 18px;
}
.mg-left-18-px {
    margin-left: 18px;
}
.mg-top-18-px {
    margin-top: 18px;
}
.mg-19-19-px {
    margin: 19px 19px;
}
.mg-right-19-px {
    margin-right: 19px;
}
.mg-bottom-19-px {
    margin-bottom: 19px;
}
.mg-left-19-px {
    margin-left: 19px;
}
.mg-top-19-px {
    margin-top: 19px;
}
.mg-20-20-px {
    margin: 20px 20px;
}
.mg-right-20-px {
    margin-right: 20px;
}
.mg-bottom-20-px {
    margin-bottom: 20px;
}
.mg-left-20-px {
    margin-left: 20px;
}
.mg-top-20-px {
    margin-top: 20px;
}
.mg-21-21-px {
    margin: 21px 21px;
}
.mg-right-21-px {
    margin-right: 21px;
}
.mg-bottom-21-px {
    margin-bottom: 21px;
}
.mg-left-21-px {
    margin-left: 21px;
}
.mg-top-21-px {
    margin-top: 21px;
}
.mg-22-22-px {
    margin: 22px 22px;
}
.mg-right-22-px {
    margin-right: 22px;
}
.mg-bottom-22-px {
    margin-bottom: 22px;
}
.mg-left-22-px {
    margin-left: 22px;
}
.mg-top-22-px {
    margin-top: 22px;
}
.mg-23-23-px {
    margin: 23px 23px;
}
.mg-right-23-px {
    margin-right: 23px;
}
.mg-bottom-23-px {
    margin-bottom: 23px;
}
.mg-left-23-px {
    margin-left: 23px;
}
.mg-top-23-px {
    margin-top: 23px;
}
.mg-24-24-px {
    margin: 24px 24px;
}
.mg-right-24-px {
    margin-right: 24px;
}
.mg-bottom-24-px {
    margin-bottom: 24px;
}
.mg-left-24-px {
    margin-left: 24px;
}
.mg-top-24-px {
    margin-top: 24px;
}
.mg-25-25-px {
    margin: 25px 25px;
}
.mg-right-25-px {
    margin-right: 25px;
}
.mg-bottom-25-px {
    margin-bottom: 25px;
}
.mg-left-25-px {
    margin-left: 25px;
}
.mg-top-25-px {
    margin-top: 25px;
}
.mg-26-26-px {
    margin: 26px 26px;
}
.mg-right-26-px {
    margin-right: 26px;
}
.mg-bottom-26-px {
    margin-bottom: 26px;
}
.mg-left-26-px {
    margin-left: 26px;
}
.mg-top-26-px {
    margin-top: 26px;
}
.mg-27-27-px {
    margin: 27px 27px;
}
.mg-right-27-px {
    margin-right: 27px;
}
.mg-bottom-27-px {
    margin-bottom: 27px;
}
.mg-left-27-px {
    margin-left: 27px;
}
.mg-top-27-px {
    margin-top: 27px;
}
.mg-28-28-px {
    margin: 28px 28px;
}
.mg-right-28-px {
    margin-right: 28px;
}
.mg-bottom-28-px {
    margin-bottom: 28px;
}
.mg-left-28-px {
    margin-left: 28px;
}
.mg-top-28-px {
    margin-top: 28px;
}
.mg-29-29-px {
    margin: 29px 29px;
}
.mg-right-29-px {
    margin-right: 29px;
}
.mg-bottom-29-px {
    margin-bottom: 29px;
}
.mg-left-29-px {
    margin-left: 29px;
}
.mg-top-29-px {
    margin-top: 29px;
}
.mg-30-30-px {
    margin: 30px 30px;
}
.mg-right-30-px {
    margin-right: 30px;
}
.mg-bottom-30-px {
    margin-bottom: 30px;
}
.mg-left-30-px {
    margin-left: 30px;
}
.mg-top-30-px {
    margin-top: 30px;
}
.mg-31-31-px {
    margin: 31px 31px;
}
.mg-right-31-px {
    margin-right: 31px;
}
.mg-bottom-31-px {
    margin-bottom: 31px;
}
.mg-left-31-px {
    margin-left: 31px;
}
.mg-top-31-px {
    margin-top: 31px;
}
.mg-32-32-px {
    margin: 32px 32px;
}
.mg-right-32-px {
    margin-right: 32px;
}
.mg-bottom-32-px {
    margin-bottom: 32px;
}
.mg-left-32-px {
    margin-left: 32px;
}
.mg-top-32-px {
    margin-top: 32px;
}
.mg-33-33-px {
    margin: 33px 33px;
}
.mg-right-33-px {
    margin-right: 33px;
}
.mg-bottom-33-px {
    margin-bottom: 33px;
}
.mg-left-33-px {
    margin-left: 33px;
}
.mg-top-33-px {
    margin-top: 33px;
}
.mg-34-34-px {
    margin: 34px 34px;
}
.mg-right-34-px {
    margin-right: 34px;
}
.mg-bottom-34-px {
    margin-bottom: 34px;
}
.mg-left-34-px {
    margin-left: 34px;
}
.mg-top-34-px {
    margin-top: 34px;
}
.mg-35-35-px {
    margin: 35px 35px;
}
.mg-right-35-px {
    margin-right: 35px;
}
.mg-bottom-35-px {
    margin-bottom: 35px;
}
.mg-left-35-px {
    margin-left: 35px;
}
.mg-top-35-px {
    margin-top: 35px;
}
.mg-36-36-px {
    margin: 36px 36px;
}
.mg-right-36-px {
    margin-right: 36px;
}
.mg-bottom-36-px {
    margin-bottom: 36px;
}
.mg-left-36-px {
    margin-left: 36px;
}
.mg-top-36-px {
    margin-top: 36px;
}
.mg-37-37-px {
    margin: 37px 37px;
}
.mg-right-37-px {
    margin-right: 37px;
}
.mg-bottom-37-px {
    margin-bottom: 37px;
}
.mg-left-37-px {
    margin-left: 37px;
}
.mg-top-37-px {
    margin-top: 37px;
}
.mg-38-38-px {
    margin: 38px 38px;
}
.mg-right-38-px {
    margin-right: 38px;
}
.mg-bottom-38-px {
    margin-bottom: 38px;
}
.mg-left-38-px {
    margin-left: 38px;
}
.mg-top-38-px {
    margin-top: 38px;
}
.mg-39-39-px {
    margin: 39px 39px;
}
.mg-right-39-px {
    margin-right: 39px;
}
.mg-bottom-39-px {
    margin-bottom: 39px;
}
.mg-left-39-px {
    margin-left: 39px;
}
.mg-top-39-px {
    margin-top: 39px;
}
.mg-40-40-px {
    margin: 40px 40px;
}
.mg-right-40-px {
    margin-right: 40px;
}
.mg-bottom-40-px {
    margin-bottom: 40px;
}
.mg-left-40-px {
    margin-left: 40px;
}
.mg-top-40-px {
    margin-top: 40px;
}
.mg-41-41-px {
    margin: 41px 41px;
}
.mg-right-41-px {
    margin-right: 41px;
}
.mg-bottom-41-px {
    margin-bottom: 41px;
}
.mg-left-41-px {
    margin-left: 41px;
}
.mg-top-41-px {
    margin-top: 41px;
}
.mg-42-42-px {
    margin: 42px 42px;
}
.mg-right-42-px {
    margin-right: 42px;
}
.mg-bottom-42-px {
    margin-bottom: 42px;
}
.mg-left-42-px {
    margin-left: 42px;
}
.mg-top-42-px {
    margin-top: 42px;
}
.mg-43-43-px {
    margin: 43px 43px;
}
.mg-right-43-px {
    margin-right: 43px;
}
.mg-bottom-43-px {
    margin-bottom: 43px;
}
.mg-left-43-px {
    margin-left: 43px;
}
.mg-top-43-px {
    margin-top: 43px;
}
.mg-44-44-px {
    margin: 44px 44px;
}
.mg-right-44-px {
    margin-right: 44px;
}
.mg-bottom-44-px {
    margin-bottom: 44px;
}
.mg-left-44-px {
    margin-left: 44px;
}
.mg-top-44-px {
    margin-top: 44px;
}
.mg-45-45-px {
    margin: 45px 45px;
}
.mg-right-45-px {
    margin-right: 45px;
}
.mg-bottom-45-px {
    margin-bottom: 45px;
}
.mg-left-45-px {
    margin-left: 45px;
}
.mg-top-45-px {
    margin-top: 45px;
}
.mg-46-46-px {
    margin: 46px 46px;
}
.mg-right-46-px {
    margin-right: 46px;
}
.mg-bottom-46-px {
    margin-bottom: 46px;
}
.mg-left-46-px {
    margin-left: 46px;
}
.mg-top-46-px {
    margin-top: 46px;
}
.mg-47-47-px {
    margin: 47px 47px;
}
.mg-right-47-px {
    margin-right: 47px;
}
.mg-bottom-47-px {
    margin-bottom: 47px;
}
.mg-left-47-px {
    margin-left: 47px;
}
.mg-top-47-px {
    margin-top: 47px;
}
.mg-48-48-px {
    margin: 48px 48px;
}
.mg-right-48-px {
    margin-right: 48px;
}
.mg-bottom-48-px {
    margin-bottom: 48px;
}
.mg-left-48-px {
    margin-left: 48px;
}
.mg-top-48-px {
    margin-top: 48px;
}
.mg-49-49-px {
    margin: 49px 49px;
}
.mg-right-49-px {
    margin-right: 49px;
}
.mg-bottom-49-px {
    margin-bottom: 49px;
}
.mg-left-49-px {
    margin-left: 49px;
}
.mg-top-49-px {
    margin-top: 49px;
}
.mg-50-50-px {
    margin: 50px 50px;
}
.mg-right-50-px {
    margin-right: 50px;
}
.mg-bottom-50-px {
    margin-bottom: 50px;
}
.mg-left-50-px {
    margin-left: 50px;
}
.mg-top-50-px {
    margin-top: 50px;
}
.mg-51-51-px {
    margin: 51px 51px;
}
.mg-right-51-px {
    margin-right: 51px;
}
.mg-bottom-51-px {
    margin-bottom: 51px;
}
.mg-left-51-px {
    margin-left: 51px;
}
.mg-top-51-px {
    margin-top: 51px;
}
.mg-52-52-px {
    margin: 52px 52px;
}
.mg-right-52-px {
    margin-right: 52px;
}
.mg-bottom-52-px {
    margin-bottom: 52px;
}
.mg-left-52-px {
    margin-left: 52px;
}
.mg-top-52-px {
    margin-top: 52px;
}
.mg-53-53-px {
    margin: 53px 53px;
}
.mg-right-53-px {
    margin-right: 53px;
}
.mg-bottom-53-px {
    margin-bottom: 53px;
}
.mg-left-53-px {
    margin-left: 53px;
}
.mg-top-53-px {
    margin-top: 53px;
}
.mg-54-54-px {
    margin: 54px 54px;
}
.mg-right-54-px {
    margin-right: 54px;
}
.mg-bottom-54-px {
    margin-bottom: 54px;
}
.mg-left-54-px {
    margin-left: 54px;
}
.mg-top-54-px {
    margin-top: 54px;
}
.mg-55-55-px {
    margin: 55px 55px;
}
.mg-right-55-px {
    margin-right: 55px;
}
.mg-bottom-55-px {
    margin-bottom: 55px;
}
.mg-left-55-px {
    margin-left: 55px;
}
.mg-top-55-px {
    margin-top: 55px;
}
.mg-56-56-px {
    margin: 56px 56px;
}
.mg-right-56-px {
    margin-right: 56px;
}
.mg-bottom-56-px {
    margin-bottom: 56px;
}
.mg-left-56-px {
    margin-left: 56px;
}
.mg-top-56-px {
    margin-top: 56px;
}
.mg-57-57-px {
    margin: 57px 57px;
}
.mg-right-57-px {
    margin-right: 57px;
}
.mg-bottom-57-px {
    margin-bottom: 57px;
}
.mg-left-57-px {
    margin-left: 57px;
}
.mg-top-57-px {
    margin-top: 57px;
}
.mg-58-58-px {
    margin: 58px 58px;
}
.mg-right-58-px {
    margin-right: 58px;
}
.mg-bottom-58-px {
    margin-bottom: 58px;
}
.mg-left-58-px {
    margin-left: 58px;
}
.mg-top-58-px {
    margin-top: 58px;
}
.mg-59-59-px {
    margin: 59px 59px;
}
.mg-right-59-px {
    margin-right: 59px;
}
.mg-bottom-59-px {
    margin-bottom: 59px;
}
.mg-left-59-px {
    margin-left: 59px;
}
.mg-top-59-px {
    margin-top: 59px;
}
.mg-60-60-px {
    margin: 60px 60px;
}
.mg-right-60-px {
    margin-right: 60px;
}
.mg-bottom-60-px {
    margin-bottom: 60px;
}
.mg-left-60-px {
    margin-left: 60px;
}
.mg-top-60-px {
    margin-top: 60px;
}
.mg-61-61-px {
    margin: 61px 61px;
}
.mg-right-61-px {
    margin-right: 61px;
}
.mg-bottom-61-px {
    margin-bottom: 61px;
}
.mg-left-61-px {
    margin-left: 61px;
}
.mg-top-61-px {
    margin-top: 61px;
}
.mg-62-62-px {
    margin: 62px 62px;
}
.mg-right-62-px {
    margin-right: 62px;
}
.mg-bottom-62-px {
    margin-bottom: 62px;
}
.mg-left-62-px {
    margin-left: 62px;
}
.mg-top-62-px {
    margin-top: 62px;
}
.mg-63-63-px {
    margin: 63px 63px;
}
.mg-right-63-px {
    margin-right: 63px;
}
.mg-bottom-63-px {
    margin-bottom: 63px;
}
.mg-left-63-px {
    margin-left: 63px;
}
.mg-top-63-px {
    margin-top: 63px;
}
.mg-64-64-px {
    margin: 64px 64px;
}
.mg-right-64-px {
    margin-right: 64px;
}
.mg-bottom-64-px {
    margin-bottom: 64px;
}
.mg-left-64-px {
    margin-left: 64px;
}
.mg-top-64-px {
    margin-top: 64px;
}