.pd-1-1-px {
    padding: 1px 1px;
}
.pd-right-1-px {
    padding-right: 1px;
}
.pd-bottom-1-px {
    padding-bottom: 1px;
}
.pd-left-1-px {
    padding-left: 1px;
}
.pd-top-1-px {
    padding-top: 1px;
}
.pd-2-2-px {
    padding: 2px 2px;
}
.pd-right-2-px {
    padding-right: 2px;
}
.pd-bottom-2-px {
    padding-bottom: 2px;
}
.pd-left-2-px {
    padding-left: 2px;
}
.pd-top-2-px {
    padding-top: 2px;
}
.pd-3-3-px {
    padding: 3px 3px;
}
.pd-right-3-px {
    padding-right: 3px;
}
.pd-bottom-3-px {
    padding-bottom: 3px;
}
.pd-left-3-px {
    padding-left: 3px;
}
.pd-top-3-px {
    padding-top: 3px;
}
.pd-4-4-px {
    padding: 4px 4px;
}
.pd-right-4-px {
    padding-right: 4px;
}
.pd-bottom-4-px {
    padding-bottom: 4px;
}
.pd-left-4-px {
    padding-left: 4px;
}
.pd-top-4-px {
    padding-top: 4px;
}
.pd-5-5-px {
    padding: 5px 5px;
}
.pd-right-5-px {
    padding-right: 5px;
}
.pd-bottom-5-px {
    padding-bottom: 5px;
}
.pd-left-5-px {
    padding-left: 5px;
}
.pd-top-5-px {
    padding-top: 5px;
}
.pd-6-6-px {
    padding: 6px 6px;
}
.pd-right-6-px {
    padding-right: 6px;
}
.pd-bottom-6-px {
    padding-bottom: 6px;
}
.pd-left-6-px {
    padding-left: 6px;
}
.pd-top-6-px {
    padding-top: 6px;
}
.pd-7-7-px {
    padding: 7px 7px;
}
.pd-right-7-px {
    padding-right: 7px;
}
.pd-bottom-7-px {
    padding-bottom: 7px;
}
.pd-left-7-px {
    padding-left: 7px;
}
.pd-top-7-px {
    padding-top: 7px;
}
.pd-8-8-px {
    padding: 8px 8px;
}
.pd-right-8-px {
    padding-right: 8px;
}
.pd-bottom-8-px {
    padding-bottom: 8px;
}
.pd-left-8-px {
    padding-left: 8px;
}
.pd-top-8-px {
    padding-top: 8px;
}
.pd-9-9-px {
    padding: 9px 9px;
}
.pd-right-9-px {
    padding-right: 9px;
}
.pd-bottom-9-px {
    padding-bottom: 9px;
}
.pd-left-9-px {
    padding-left: 9px;
}
.pd-top-9-px {
    padding-top: 9px;
}
.pd-10-10-px {
    padding: 10px 10px;
}
.pd-right-10-px {
    padding-right: 10px;
}
.pd-bottom-10-px {
    padding-bottom: 10px;
}
.pd-left-10-px {
    padding-left: 10px;
}
.pd-top-10-px {
    padding-top: 10px;
}
.pd-11-11-px {
    padding: 11px 11px;
}
.pd-right-11-px {
    padding-right: 11px;
}
.pd-bottom-11-px {
    padding-bottom: 11px;
}
.pd-left-11-px {
    padding-left: 11px;
}
.pd-top-11-px {
    padding-top: 11px;
}
.pd-12-12-px {
    padding: 12px 12px;
}
.pd-right-12-px {
    padding-right: 12px;
}
.pd-bottom-12-px {
    padding-bottom: 12px;
}
.pd-left-12-px {
    padding-left: 12px;
}
.pd-top-12-px {
    padding-top: 12px;
}
.pd-13-13-px {
    padding: 13px 13px;
}
.pd-right-13-px {
    padding-right: 13px;
}
.pd-bottom-13-px {
    padding-bottom: 13px;
}
.pd-left-13-px {
    padding-left: 13px;
}
.pd-top-13-px {
    padding-top: 13px;
}
.pd-14-14-px {
    padding: 14px 14px;
}
.pd-right-14-px {
    padding-right: 14px;
}
.pd-bottom-14-px {
    padding-bottom: 14px;
}
.pd-left-14-px {
    padding-left: 14px;
}
.pd-top-14-px {
    padding-top: 14px;
}
.pd-15-15-px {
    padding: 15px 15px;
}
.pd-right-15-px {
    padding-right: 15px;
}
.pd-bottom-15-px {
    padding-bottom: 15px;
}
.pd-left-15-px {
    padding-left: 15px;
}
.pd-top-15-px {
    padding-top: 15px;
}
.pd-16-16-px {
    padding: 16px 16px;
}
.pd-right-16-px {
    padding-right: 16px;
}
.pd-bottom-16-px {
    padding-bottom: 16px;
}
.pd-left-16-px {
    padding-left: 16px;
}
.pd-top-16-px {
    padding-top: 16px;
}